In [13]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
#Importing data
df = pd.read_csv('Ventas.csv')
#Printing head
df.head()

     Date  Item Code        Item Desc   Category  Quantity   Total
0  1/1/17        150      BAVIERA X 1      Tapas       6.0   750.0
1  1/1/17        151      BAVIERA X 2      Tapas       8.0  1920.0
2  1/1/17         59   BRUSQUETA HONG  Apetizers       6.0   570.0
3  1/1/17         58  BRUSQUETAS CRUD  Apetizers       9.0   720.0
4  1/1/17         78      C. CAPRESSE     Pizzas       6.0   510.0

In [14]:
#Printing tail
df.tail()

        Date  Item Code     Item Desc   Category  Quantity   Total
2174  4/1/19         62      TORTILLA    Entries      13.0  2355.0
2175  4/1/19         63  TORTILLA ESP    Entries       8.0  1600.0
2176  4/1/19         66    WRAP CARNE  Sandwichs      14.0  3500.0
2177  4/1/19         65    WRAP POLLO  Sandwichs      24.0  5310.0
2178  4/1/19         64   WRAP VEGETA  Sandwichs       2.0   405.0

In [15]:
#Subsetting the dataset
#Index 2178 marks the end of data for year 2019
df = pd.read_csv('Ventas.csv', nrows = 2178)

In [16]:
#Creating train and test set 
#Index 1842 marks the end of 2018

train=df[0:1842] 
test=df[1842:]

In [17]:
#Aggregating the dataset at daily level
df.Timestamp = pd.to_datetime(df.Date,format="%m/%d/%y") 
df.index = df.Timestamp 
df = df.resample('D').mean()
train.Timestamp = pd.to_datetime(train.Date,format="%m/%d/%y")  
train.index = train.Timestamp 
train = train.resample('D').mean() 
test.Timestamp = pd.to_datetime(test.Date,format="%m/%d/%y") 
test.index = test.Timestamp 
test = test.resample('D').mean()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [18]:
#Plotting data
train.Count.plot(figsize=(15,8), title= 'Total Sales - Training', fontsize=14)
test.Count.plot(figsize=(15,8), title= 'Total Sales - Testing', fontsize=14)
plt.show()

ValueError: Could not interpret input 'x'

In [ ]:
print("Forecasting sales of properties using Holt-Winters method with additive seasonality.")